/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nyeeq56wyw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nyeeq56wyw] {
  color: #0077cc;
}
.form-floating > label[b-nyeeq56wyw] {
  padding: 1rem 1.25rem;
}
.card[b-nyeeq56wyw] {
  border-radius: 0.75rem;
  transition: transform 0.2s;
}
.btn-outline-secondary:hover[b-nyeeq56wyw] {
  background-color: #f8f9fa;
}
.btn-primary[b-nyeeq56wyw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nyeeq56wyw], .nav-pills .show > .nav-link[b-nyeeq56wyw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nyeeq56wyw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nyeeq56wyw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nyeeq56wyw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nyeeq56wyw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nyeeq56wyw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
